version: "3.8"

services:
  backend:
    build: .
    container_name: smart-mandi-backend
    ports:
      - "3001:3001"
    depends_on:
      - db
    env_file:
      - ./.env
    restart: always

  db:
    image: postgres:15
    container_name: smart-mandi-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
